# Virtual environment
venv/
.env/

# System files
__pycache__/
*.pyc

# VS Code
.vscode/

# Data
dataset/
*.parquet

# Notebook checkpoints
.ipynb_checkpoints/

# HuggingFace cache
~/.cache/huggingface/
